* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    height: 13vh;
    background: #ff1e02;
    width: 100%;
}


footer{
    height: 13vh;
    background: #ff1e02;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
    width: 100%;
}

main {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%; 
   
}

form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
}
form label:nth-of-type(1) {
    margin-top: 20px;
}
form label {
    margin-bottom: 10px;
    font-size: 20px;

}

form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

fieldset{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

p{
    font-size: 20px;
    
}